:root {
  --c-background:#FFFFFF;
  --c-window: #B6BBD6;
  --c-listado: #F4F4F4;
  --c-casillero: #D9D9D9;
  --c-btn-editar: #2aa4ac;
  --c-btn-editar-tr:rgba(42, 164, 172, 0.7);
  --c-btn-eliminar: #9b3f3f;
  --c-btn-eliminar-tr: rgb(155, 63, 63, 0.9);
  
  --c-texto:#FFFFFF;
  --c-texto-title: #2B1887;
  --c-texto-on: #000000;
  --c-texto-off: #9E9A9A;
  --letter: 'Lato', sans-serif;
}


.contenedorPrincipal {
  width: 100%;
  height: calc(100vh - 100px);
  color: var(--c-background);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

.contenedorFormulario {
  display: flex;
  flex-direction:row;
  align-items: center
  ;width: 50%;
  background-color: var(--c-window);
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  width: 100%;
}

.checkTarea {
  display: flex;
  flex-direction: left;

}

input[type="checkbox"] {
  display:flex;
  flex-direction:left;
  align-items: left;
  margin-right: 10px;
  height: 20px;
  }  

input {
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  width: 80%
}

.btnAgregar {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-btn-editar) ;
  color: var(--c-texto);
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border: none;
}
.contenedorTareas {
  width: 50%;
  background-color: var(--c-window);
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  aLign-items: center;
  color: var(--c-texto-title);
}

.btn {
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: var(--c-btn-editar);
  transform: scale(1.1);
}

.botones {
  display:flex;
  justify-content: right;
  height: 30px;
}

.btnEditar {
  background-color: var(--c-btn-editar-tr);
  color: white;
  align-items: center;
  margin-right: 10px;
}

.btnEditar:hover {
  background-color: var(--c-btn-editar);
  color: white
}

.btnBorrar {
  background-color: var(--c-btn-eliminar-tr);
  color: white;
}

.btnBorrar:hover {
  background-color: var(--c-btn-eliminar);
  transform: scale(1.1);
}

.contenedorInfoTareas {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.logotipo {
  display:flex;
  flex-direction: row;
}

.icono {
  height: 70%;
}

.contenedorTarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  background-color: var(--c-casillero);
  border-radius: 15px;
  color:var(--c-texto-on);
}

.todoTarea {
  margin-left:10%;
}

.spanSubrayada {
  text-decoration: line-through;
}